// Settings
// Adjust any of these variables to your liking, or don't. :-)

// Max-width of rows
$row-max-width: 81.25rem;

// Column Padding
$col-padding: 0.80rem;

// Flex Basis Value
$flex-basis: auto;

// Small Breakpoint Size
// ( Use an em or rem value only for offsets to work correctly)
$small-breakpoint: 48em;
