// Easily set your styles here using sass variables

// panel options
$panel-color: $white;
$panel-top-distance: rem(65px);
$panel-width: 100% !default;

// mask options
$mask-color:	rgba(0,0,0,0.62);

// hamburger options
$hamburger-color: $grey;
$hamburger-color-active: $orange;

$hamburger-position-top: 2px !default;
$hamburger-position-x: 24px !default;

// if false, hamburger will sit to the right instead of the left
$hamburger-position-left: 'false' !default;
