/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

// fonts
$harmonia:    'Harmonia Sans', Helvetica, sans-serif;

// colors:
$orange:      #FA7920;
$ltorange:    #FFCAAC;

$ltblue:      #c3d6e0;
$blue:        #00A3E0;

$black:       #3F3F3F;
$grey:        #72746F;
$white:       #F2F2F2;
