// Home Template Styles
.home--container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  background: none;
  padding-top: 90px;
}
.home--post-container{
  flex: 1 1 20%;
  height: 100%;
  transition: all .4s ease;
  position: relative;
  padding: rem(30px) rem(34px);
    a{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 auto;
      width: 100%;
      max-width: rem(245px);
      height: 99%;
        div{
          flex: 0 1 auto;
          img.arrow{
            margin-left: rem(20px);
            vertical-align: middle;
            transition: all .4s ease;
          }
          // See All Tools text
          &:last-of-type{
            p{
              font-size: rem(24px);
              display: block;
              margin-bottom: rem(110px);
            }
          }
        }
    }
    h2, p{
      color: white;
      margin-bottom: 0;
    }
    p{
      margin-top: 0;
    }
    h2{
      font-weight: 600;
      margin-bottom: rem(12px);
    }
  &:hover{
    flex: 1 1 25%;
      a div img{
        transform: rotate(90deg);
      }
  }
  &:nth-child(-n+1){
    outline: 2px solid red;
  }
}


// Media Queries
@media screen and (max-width: rem(1314px)){
  .home--post-container{
    a{
      max-width: rem(210px);
    }
  }
}

@media screen and (max-width: rem(1120px)){
  .home--post-container{
    a{
      max-width: rem(190px);
    }
  }
}

@media screen and (max-width: rem(1076px)){
  .home--post-container{
    padding: 10px;
    a{
      max-width: rem(190px);
    }
  }
}

@media screen and (max-width: rem(820px)){
  .home--post-container a div:last-of-type p{
    font-size: rem(16px);
  }
}

@media screen and (max-width: $small-breakpoint){
  .home--container{
    height: auto;
    flex-wrap: wrap;
    padding-top: rem(65px);
  }
  .home--container .home--post-container{
    flex-basis: 100%;
  }
  header .col-11{
    display: none;
  }
  .home--post-container a{
    max-width: rem(488px);
  }
}
