// Default Page Styles

.page-template-default section.container{
  background: #787c79;
  min-height: 100vh;
  padding-top: 90px;
  > .row{
    margin-top: rem(114px);
  }
}

// Page Content Styles
article.col-8{
  background: white;
  padding: rem(60px) 8.33333%;
}

// Content Intro
.content--intro{
  border-top: 2px solid #ccc;
  margin-top: rem(155px);
}

.content-1{
  margin-top: 0;
  border-top: none;
}

.page--home-container{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  overflow-y: scroll;
    .home--container{
      padding-top: 90px;
    }
}
