// Download Cluster
.download--cluster{
  margin: rem(40px) auto;
  .row{
    cursor: pointer;
  }
}

.download-title{
  display: inline-block;
  p{
    margin-top: 0;
  }
  .tooltip{
    background: black;
    border-radius: 5px;
    padding: rem(10px);
    position: absolute;
    width: 275px;
    left: 0;
    height: auto;
    display: none;
    z-index: 50;
      p{
        font-size: rem(14px);
        color: white;
        margin: 0 auto;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 10px 15px;
        border-color: transparent transparent black transparent;
      }
  }
  &:hover{
    .tooltip{
      display: block;
    }
  }
}

// Media Queries

@media screen and (max-width: $small-breakpoint){

  // downlaod cluster
  .download--cluster{
    .col-4{
      text-align: center;
        .button-download{
          margin: 0 auto;
          width: 100%;
        }
    }
  }
}
