// Video Cluster
.content--video-cluster{
  margin: rem(40px) auto;
  p{
    margin-top: 0;
    cursor: pointer;
  }
  .thumbnail--container{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    &:before{
      content: '';
      display: block;
      position: absolute;
      margin: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      transition: opacity .1s ease-in;
      background: url('../img/video-play.svg') 50% 50% no-repeat;
      background-size: 30%;

    }
    &:hover{
      &:before{
        opacity: 1;
      }
    }
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
