// Search Page Styles
body.search .search--main-container{
  min-height: 100%;
  min-height: 100vh;
  hr{
    display: block;
    margin: 0 auto;
    width: 100%;
    border: none;
    height: 2px;
    background: #ccc;
  }
}

.search--form-container{
  margin-top: rem(208px);
  input[type=search]{
    border: none;
    border-bottom: 2px solid $grey;
    background: none;
    width: 75%;
    height: 25px;
    padding: 0;
    margin: 0;
    transition: all .4s ease-in;
    box-shadow: none;
    font: rem(14px) $harmonia;
    font-weight: 600;
    text-transform: uppercase;
    color: $grey;
    -webkit-appearance: none;
  }
  input[type=submit]{
    position: absolute;
    top: 0;
    left: -10000px;
  }
  svg{
    width: rem(31px);
    height: rem(32px);
    margin-top: 0;
    vertical-align: middle;
  }
}

.search-tag{
  display: block;
  position: relative;
  margin: 0 0 rem(5px);
  padding: 0;
  font: rem(16px) $harmonia;
  font-weight: 900;
  text-transform: uppercase;
}

// Adjust Download P tags on search page only
.search-results{
  .download-title{
    p{
      padding: 0;
      margin: 0;
    }
  }
}

// Filter Buttons
.search--dropdown{
  display: block;
  position: relative;
  width: rem(260px);
  max-width: 100%;
  height: rem(42px);
  margin-bottom: rem(20px);
  background: #CCC;
  cursor: pointer;
    &:nth-child(2){
      z-index: 99;
    }
    &:nth-child(3){
      z-index: 88;
    }
    div{
      margin: 0 16px;
      padding: 12px 0;
      color: white;
      img{
        float: right;
        margin-top: 5px;
      }
    }
    ul{
      display: block;
      position: relative;
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 0;
      padding: 0;
      margin: 0;
      list-style: none;
      background: $grey;
      opacity: 0;
      overflow: hidden;
      transition: all 0.2s ease-in;
      li{
        width: 100%;
        position: relative;
        padding: 7px 16px;
        &:first-of-type{
          padding-top: 14px;
        }
        &:last-of-type{
          padding-bottom: 14px;
        }
        a{
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          font: rem(14px) $harmonia;
          color: #ccc;
        }
        &:hover{
          a{
            color: white;
          }
        }
      }
    }
    &:hover{
      ul{
        height: auto;
        opacity: 1;
      }
    }
}
