@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-Regular.otf");
}
@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-Regular.otf");
    font-weight:400;
}
@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-Italic.otf");
    font-weight:400;
    font-style:italic;
}
@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-Light.otf");
    font-weight: 200;
}
@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-LightItalic.otf");
    font-weight: 200;
    font-style:italic;
}
@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-SemiBditalic.otf");
    font-weight:500;
    font-style: italic;
}
@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-SemiBd.otf");
    font-weight:500;
}
@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-Bolditalic.otf");
    font-weight:600;
    font-style: italic;
}
@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-Bold.otf");
    font-weight:600;
}
@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-Black.otf");
    font-weight:800;

}
@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-BlackItalic.otf");
    font-weight:800;
    font-style:italic;
}
@font-face {
    font-family: "Harmonia Sans";
    src: url("../fonts/HarmoniaSansStd-Regular.otf");
    font-weight: bold;

}
