/*-----------------------------------------------------------------------------
  Table of Contents
  - Vendor
  - Globals
  - Plugins
  - Pages
  - Parts
  - Components
-----------------------------------------------------------------------------*/
// import the Sass partials in the order that you need here

// Vendor
// Ginger Grid
@import 'settings/ginger-settings';
@import 'ginger';

// Sugar
@import 'sugar';

// Animsition
@import 'plugins/animsition';

// Fonts
@import '../fonts/fonts';

// Variables
@import 'settings/variables';

// Nifty Nav
@import 'settings/nifty-nav-settings';
@import 'nifty-nav';

// Global Styles
@import 'globals/global';
@import 'globals/wordpress';
@import 'globals/typography';

// Components
@import 'components/social-menu';
@import 'components/header';
@import 'components/footer';
@import 'components/buttons';
@import 'components/sidebar';

// Plugin Overrides
@import 'plugins/overrides';

// Templates
@import 'templates/home';
@import 'templates/page';
@import 'templates/post-format-downloads';
@import 'templates/post-format-videos';
@import 'templates/search';
@import 'templates/404';
