// Button Styles

.button-download{
  display: block;
  width: 200px;
  height: auto;
  max-width: 100%;
  padding: 13px 45px 12px 10px;
  background: $orange;
  color: white;
  text-align: left;
  position: relative;
  float: right;
  transition: all .3s ease-in;
    &:after{
      content: url('../img/download.svg');
      width: 32px;
      height: 30px;
      background: #E88C4A;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      vertical-align: middle;
      text-align: left;
      padding-top: 15px;
      padding-left: 14px;
    }
    &:hover{
      background: #E88C4A;
    }
}

.button-search{
  display: block;
  width: 100%;
  max-width: 100%;
  height: rem(41px);
  padding: rem(14px) 0;
  background: #ccc;
  text-align: center;
  font-size: rem(14px);
  color: white;
  transition: all .3s ease;
  margin-bottom: rem(17px);
  &:hover{
    background: #3F3F3F;
  }
}
