/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/
header{
  display: block;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: $white;
  z-index: 9999;
    h1{
      width: 60px;
      height: 52px;
      background: url('../img/logo.png') center center no-repeat;
      background-size: contain;
      text-indent: rem(-10000px);
      margin: 0;
      padding: 0;
    }
    .col-11{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
        nav, .header--search-container, .header--search-input{
          flex: 0 1 auto;
        }
    }
    // Navigation
    nav{
      ul{
        display: flex;
        width: 100%;
        margin: 10px 0 0;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
          li{
            flex: 0 1 auto;
              a{
                display: block;
                padding: 0 rem(14px);
                font: rem(14px) $harmonia;
                font-weight: 600;
                text-transform: uppercase;
                color: $grey;
                  &:hover{
                    color: #40331C;
                  }
              }
              &:last-of-type{
                margin-right: 9px;
              }
          }
      }
    }
    // Search
    .header--search-container{
      cursor: pointer;
      padding: rem(5px);
        svg{
          width: rem(31px);
          height: rem(32px);
          margin-top: rem(6px);
        }
    }
    .header--search-input{
      margin-top: rem(12px);
      input[type=search]{
        border: none;
        border-bottom: 2px solid $grey;
        background: none;
        width: 0;
        height: 25px;
        padding: 0;
        margin: 0;
        transition: all .4s ease-in;
        box-shadow: none;
        font: rem(14px) $harmonia;
        font-weight: 600;
        text-transform: uppercase;
        color: $grey;
        -webkit-appearance: none;
      }
      input[type=submit]{
        position: absolute;
        top: 0;
        left: -10000px;
      }
    }
    .search-active{
      width: rem(250px) !important;
    }
}

// Header Positioning for Homepage
.home header{
  position: fixed;
  top: 0;
  left: 0;
}

// Nifty Nav Panel Styles
.nifty-panel{
  text-align: center;
 ul{
   padding: 0;
   margin: 10px 0 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   align-content: flex-start;
   width: 100%;
   list-style: none;
   overflow: hidden;
    li{
      flex: 1 1 auto;
      position: relative;
        a{
          display: block;
          width: 100%;
          height: 100%;
          padding: 0 5px;
          text-align: center;
          font: rem(14px) $harmonia;
          font-weight: 600;
          text-transform: uppercase;
          color: $grey;
        }
    }
 }
 // mobile search
 .header--search-input{
   margin: 20px auto;
   display: block;
   position: relative;
    input[type=search]{
      background: none;
      border: none;
      border-bottom: 2px solid $grey;
      vertical-align: middle;
    }
    input[type=submit]{
      display: none;
    }
 }
}

//svg search icon
svg .st0{
  transition: all .4s ease;
}

svg:hover .st0{
  fill: #40331C !important;
}

// Header Panels
.header--panel{
  display: none;
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  height: auto;
  background: $white;
  padding: 15px 0 30px;
    .contact--panel, .about--panel{
      display: none;
    }
    .row{
      margin: 0 auto;
    }
    .close-page{
      top: rem(40px);
      right: rem(40px);
      border: 2px solid $grey;
      z-index: 9999;
        span{
          &:before{
            background: $grey;
          }
          &:after{
            background: $grey;
          }
        }
    }
}

.mask{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 9998;
}

@media screen and (max-width: $small-breakpoint){
  header{
    height: rem(65px);
  }
}
