// Page Sidebar Styles

aside.col-4{
  padding-right: 0;
  h1{
    margin: 0 0 rem(90px);
  }
  h3{
    color: $blue;
    margin-bottom: 0;
    cursor: pointer;
  }
  h3.white{
    color: white;
  }
  hr{
    height: 2px;
    border: none;
    margin: 0;
    background: $blue;
  }
  hr.white{
    background: white;
  }
  //sidebar nav styles
  ul{
    display: block;
    position: relative;
    width: 100%;
    margin: rem(5px) 0 rem(42px);
    padding: 0;
    list-style: none;
      li{
        position: relative;
        display: none;
          a{
            display: block;
            width: 100%;
            height: 100%;
            padding: 8px 0;
            font: rem(21px) $harmonia;
            font-weight: normal;
            color: white;
              &:hover{
                color: black;
              }
          }
      }
  }
}

.active{
  color: $black !important;
}

@media screen and (max-width: $small-breakpoint){
  // sidebar
  aside.col-4{
    padding-right: $col-padding;
  }
  // keep li's open on mobile
  aside.col-4 ul li{
    display: block;
  }
}
