/*------------------------------------------------------------------------------
  Global Styles
------------------------------------------------------------------------------*/
html,
body {
  border      : 0;
  margin      : 0;
  padding     : 0;
  width       : 100%;
  min-height  : 100%;
}

html,
html a {
  -webkit-font-smoothing : antialiased !important;
  text-shadow            : 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  font                       : 100%/1.25 $harmonia;
  min-height                 : 100%;
  overflow-y                 : scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling : touch;
}

/* Set box sizing to elimate math in the padding */
* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

// Common Formatting

blockquote {
  margin  : 22px 40px;
  padding : 0;
}

small {
  font-size : .85em;
}

sup {
  position       : relative;
  bottom         : .3em;
  vertical-align : baseline;
}

sub {
  position       : relative;
  bottom         : -0.2em;
  vertical-align : baseline;
}

acronym,
abbr {
  cursor         : help;
  letter-spacing : 1px;
  border-bottom  : 1px dashed;
}

// Forms
form {
  margin  : 0;
  padding : 0;
  display : inline;
}

input,
select,
textarea {
  font : 1em $harmonia;
}

textarea {
  line-height : 1.25;
}

label {
  cursor : pointer;
}

// Tables
table {
  border  : 0;
  margin  : 0 0 18px;
  padding : 0;
}

table tr td {
  padding : 2px;
}

// Utility Classes
.clear {
  clear : both;
}

.clearfix:after {
  visibility : hidden;
  display    : block;
  font-size  : 0;
  content    : ' ';
  clear      : both;
  height     : 0;
}

.clearfix {
  display : inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height : 1%;
}

.clearfix {
  display : block;
}

/* close commented backslash hack */

.float-left {
  float : left;
}

.float-right {
  float : right;
}

// Flex Video Based on Zurb Foundation
.flex-video {
  position: relative;
  height: 0;
  padding-bottom: 75%;
  margin-bottom: 1rem;
  overflow: hidden;
}

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-video.widescreen {
  padding-bottom: 56.25%;
}

.flex-video.vimeo {
  padding-top: 0;
}

// Close page icon
.close-page{
  position: absolute;
  width: rem(25px);
  height: rem(25px);
  border: 2px solid white;
  border-radius: 50%;
  right: 0;
  top: rem(-35px);
  cursor: pointer;
  transition: all 500ms ease-out;
  opacity: 0.8;
    span{
      display: block;
        &:before{
          width: 73%;
          height: 2px;
          background: white;
          content: '';
          display: block;
          margin: 0 auto;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          position: absolute;
          top: 9px;
          left: 3px;
        }
        &:after{
          width: 73%;
          height: 2px;
          background: white;
          content: '';
          display: block;
          margin: 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: 9px;
          left: 3px;
        }
    }
    &:hover{
      transform: rotate(360deg);
      opacity: 1;
    }
}

// Lock Class
.locked{
  overflow-y: hidden;
}

// Page Padding to account for header
// .page{
//   padding-top: 90px;
// }

// Archive Page Container
.archive--container, .single--container{
  min-height: 100%;
  min-height: 100vh;
  padding: 90px 0;
  position: relative;
  margin-top: rem(90px);
  > .row{
    .col-8{
      position: relative;
    }
  }
}

// Login Page Styles
.login-page{
  input[type=password]{
    background: none;
    border: none;
    border-bottom: 2px solid $grey;
    height: 37px;
    padding-top: 9px;
    padding-left: 10px;
    font-size: rem(25px);
    color: $grey;
    text-align: left;
      &:focus{
        outline: 2px solid $grey;
      }
  }
  input[type=submit]{
    display: inline-block;
    -webkit-appearance: none;
    background: #fa7920;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 28px 8px;
    border: none;
    vertical-align: bottom;
    margin-left: 17px;
    transition: all .3s ease-in;
    cursor: pointer;
    &:hover{
      background: $ltorange;
    }
  }
}
