/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/

// Headings
h1{
  font: rem(46px) $harmonia;
  font-weight: 600;
  color: $black;
}

h2{
  font: rem(42px) $harmonia;
  font-weight: normal;
  color: $blue;
}

h3{
  font: rem(21px) $harmonia;
  font-weight: 600;
  color: $black;
}

h4{
  font: rem(18px) $harmonia;
  font-weight: normal;
  color: $black;
}

.sub-head{
  font: rem(30px) $harmonia;
  font-weight: 100;
  font-style: italic;
}

p, ul, ol{
  font: rem(18px) $harmonia;
  font-weight: normal;
  color: $black;
}

// Links
a{
  color: $blue;
  transition: color .3s ease;
}
a,
a:visited {
  text-decoration : none;
}
